.container{
    width: 100%;
    min-width: 1652px;
    padding: 20px;
    box-sizing: border-box;
    background: url('../img/bg.png') 0 0  repeat;
    position: relative;
}
/* 公共 */
/* 三角 */
.tri-top,
.tri-left{
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    width: 100%;
    height: 20px;
    background: transparent;
}
.tri-top::before{
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: 0;
    display: block;
    height: 0;
    border-bottom: 11px solid rgba(39,77,125,0.8);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.tri-left{
    left: -40px;
    right: auto;
    top:0;
    width: 40px;
    height: 100%;
}

.tri-left::before{
    content: '';
    position: absolute;
    right: 0;
    margin-top: 6px;
    top: 0;
    display: block;
    height: 0;
    border-right: 11px solid rgba(39,77,125,0.8);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

.empty-msg{
    text-align: center;
    color: #999;
}
/* 滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #2758a1;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: #001635;
}

.layui-table-body::-webkit-scrollbar{
    width: 0;
}

.search-list::-webkit-scrollbar,
.label-list::-webkit-scrollbar,
.plane-select-list::-webkit-scrollbar,
.msg-content::-webkit-scrollbar,
.label-wrapper::-webkit-scrollbar,
.layui-anim::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
.search-list::-webkit-scrollbar-thumb,
.label-list::-webkit-scrollbar-thumb,
.msg-content::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: rgba(255,255,255, 0.5);
}

.plane-select-list::-webkit-scrollbar-thumb,
.label-wrapper::-webkit-scrollbar-thumb{
    background: #234472;
}
/* loading */
.loading-box{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    z-index: 10000;
    background: rgba(0,0,0,0.5);
}

.loading-box .loading-icon{
    width: 126px;
    height: 65px;
    position: relative;
    vertical-align: middle;
}

/* btn */
.click-button{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* 边框的四角 */
.border-lt{
    width: 56px;
    height: 47px;
    position: absolute;
    left: -4px;
    top: -4px;
    background: url('../img/lt.png') 0 0 / 56px 47px no-repeat;
}

.border-rt{
    width: 56px;
    height: 47px;
    position: absolute;
    right: -4px;
    top: -4px;
    background: url('../img/rt.png') 0 0 / 56px 47px no-repeat;
}

.border-lb{
    width: 56px;
    height: 47px;
    position: absolute;
    left: -4px;
    bottom: -4px;
    background: url('../img/lb.png') 0 0 / 56px 47px no-repeat;
}

.border-rb{
    width: 56px;
    height: 47px;
    position: absolute;
    right: -4px;
    bottom: -4px;
    background: url('../img/rb.png') 0 0 / 56px 47px no-repeat;
}

/* 头部 */
.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header img{
    width: 100%;
}
/* 内容 */
.main{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 406px 0;
}

.main-left{
    width: 386px;
    margin-left: -406px;
}

/* 总览信息 */
.msg-list {
    margin-bottom: 36px;
}

.msg-item {
    float: left;
    width: 50%;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
}

.msg-icon,
.time-icon{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    position: relative;
}

.msg-label{
    width: 60px;
    display: inline-block;
    vertical-align: top;
}

.msg-value{
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    color: #48a9fc;
    line-height: 20px;
    max-width: 64px;
}

.msg-color{
    color: #ff0000;
}

.main-center{
    width: 100%;
}

.main-right{
    width: 386px;
    margin-right: -406px;
}

/* 操作 */
.handle-list {
    padding: 25px 0;
}

.menu-tab{
    color: #fff;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 16px;
    padding-left: 6px;
}

.handle-item{
    width: 50%;
    float: left;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    position: relative;
}

.time-icon{
    margin:  5px 10px 5px 7px;
}

.handle-icon{
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    z-index: 10;
}

.handle-btn{
    background-repeat: no-repeat;
    background-image: url('../img/button.png');
    cursor: pointer;
}

.handle-set{
    left: 50px;
}

.handle-set .handle-btn{
    background-position: 0 -282px;
}

.handle-set:hover .handle-btn{
    background-position: -30px -282px;
}

.handle-set .handle-btn:focus {
    background-position: -60px -282px;
}

.handle-user{
    right: 20px;
}

.handle-user .handle-btn{
    background-position: 0 -412px;
}

.handle-user:hover .handle-btn{
    background-position: -30px -412px;
}

.handle-user .handle-btn:focus  {
    background-position: -61px -412px;
}

.handle-select{
    display: none;
    padding: 8px 0;
    position: relative;
    left: -30px;
    top: 44px;
    width: 84px;
    text-align: center;
    background: linear-gradient(-135deg, transparent 5%, rgba(39,77,125,0.8) 5%,   rgba(39,77,125,0.8) 95%, transparent  95%);
}

.handle-select li{
    padding: 9px 0;
    line-height: 1;
}

/* 图表 */
.chart-title{
    margin: 14px 0 4px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1;
}

.chart-item{
    width: 100%;
    height: 270px;
    background: #001635;
    border: 1px solid rgba(77,148,255,0.5);
    border-radius: 15px 0 15px 0;
    position: relative;
    box-sizing: border-box;
}

.pie-chart{
    height: 576px;
}

.canvas-box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.canvas-inner{
    width: 100%;
    height: 60%;
}

.label-list{
    width: calc(100% - 10px);
    height: calc(40% - 20px);
}

.label-list{
    padding: 1px 0 0 40px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.label-item{
    float: left;
    width: 50%;
    font-size: 0;
    margin-top: 30px;
}

.label-item:last-child{
    margin-bottom: 0;
}

.label-tag,
.label-value{
    display: inline-block;
    color: #fff;
}


.label-tag{
    font-size: 12px;
    margin-right: 16px;
}

.label-tag>div{
    width: 50px;
    margin-bottom: 6px;
    border-top-style: solid;
    border-top-width: 4px;
}

.label-value{
    font-size: 30px;
}

.label-value span{
    font-size: 18px;
}


/* 导航 */
.nav-box{
    margin-top: 112px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    height: 26px;
}

.nav-item,
.nav-more{
    float: left;
    width: 16.6%;
    padding: 4px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.nav-item:hover{
    color: #61b1fe;
}

.nav-active{
    color: #61b1fe;
    font-size: 20px;
}

/* .more-nav-active{
    color:
} */

.nav-more .more-btn{
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 18px;
    background: url('../img/button.png') 0 -86px  no-repeat;
}

.nav-more:hover .more-btn{
    background-position: -30px -86px;
}

.nav-more .more-btn:focus{
    background-position: -60px -86px;
}

/* 3d 展示区域 */
.three-box{
    background: linear-gradient(-135deg, transparent 2%, rgb(0,22,53) 2%,   rgb(0,22,53) 98.1%, transparent  98.1%);
    height: 878px;
    box-sizing: border-box;
    margin-top: 2px;
    position: relative;
}

.three-box::before{
    content: '';
    display: block;
    width: 786px;
    height: 296px;
    position: absolute;
    right: -4px;
    top: -4px;
    background: url('../img/rtop.png') 0 0 / 786px 296px no-repeat;
    z-index: 99;
}

.three-box::after{
    content: '';
    display: block;
    width: 516px;
    height: 256px;
    position: absolute;
    left: -4px;
    bottom: -4px;
    background: url('../img/leftb.png') 0 0 / 516px 256px no-repeat;
    z-index: 99;
}

.border-left-top{
    border-left: 1px solid rgba(77,148,255,0.5);
    border-top: 1px solid rgba(77,148,255,0.5);
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% - 780px);
    height: calc(100% - 250px);
}

.border-right-bottom{
    border-right: 1px solid rgba(77,148,255,0.5);
    border-bottom: 1px solid rgba(77,148,255,0.5);
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: calc(100% - 510px);
    height: calc(100% - 290px);
}

/* 放3d场景 */
.three-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    border-radius: 0  68px 0 68px;
    overflow: hidden;
}

.three-wrapper .wrapper-box,
.tab-plane,
.plane-box{
    width: 100%;
    height: 100%;
}

.plane-box{
    position: relative;
}

#threeWrapper{
    padding: 3px;
    box-sizing: border-box;
}

/* 左下角信息 */
.ship-msg{
    position: absolute;
    left: 50px;
    bottom: 15px;
    z-index: 101;
    /*width: 100%;*/
}

.ship-title{
    /* width: fit-content; */
    text-align: center;
    font-size: 16px;
    padding: 0 19px;
    color: #fff;
    margin-bottom: 26px;
}

.ship-title span{
    display: block;
    margin: 0 10px;
}

.title-border{
    margin-top: 5px;
    width: 100%;
    height: 13px;
    background: url('../img/middle.png') 0 0 repeat;
    position: relative;
}

.title-border::before{
    content: '';
    display: block;
    position: absolute;
    left: -18px;
    top: 0;
    width: 29px;
    height: 15px;
    background: url('../img/left.png') 0 0/ 29px 15px no-repeat;
}

.title-border::after{
    content: '';
    display: block;
    position: absolute;
    right: -15px;
    top: -8px;
    width: 15px;
    height: 20px;
    background: url('../img/right.png') 0 0 / 15px 20px no-repeat;
}

.ship-list-msg{
    max-height: 90px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
    width: 100%;
    text-align: center;
}

.ship-msg-box li{
    /*margin-right: 20px;*/
    float: left;
    color: #fff;
    font-size: 0;
    width: 180px;
    text-align: left;
    margin-bottom: 10px;
}

.ship-msg-box li:nth-child(2){
    width: 150px;
}

.ship-icon,
.ship-label,
.ship-value{
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
}

.ship-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
}

.ship-label {
    text-align: right;
    font-size: 14px;
    color: rgba(255,255,255, 0.3);
    margin-right: 18px;
}

.ship-value{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.tab-btns{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 0;
}

.item-tab{
    color: #fff;
    box-sizing: border-box;
    height: 29px;
    line-height: 29px;
    margin-right: 55px;
    padding: 0 20px;
    font-size: 14px;
    vertical-align: top;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.item-tab:first-child{
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.item-tab::before{
    content: '';
    display: block;
    width: 41px;
    height: 29px;
    background: url('../img/button.png') 0 -452px no-repeat transparent;
    position: absolute;
    left: -41px;
    top: -1px;
}

.item-tab:first-child::before{
    display: none;
}

.item-tab::after{
    content: '';
    display: block;
    width: 41px;
    height: 29px;
    background: url('../img/button.png') 0 -491px no-repeat transparent;
    position: absolute;
    right: -41px;
    top: -1px;
}

.tab-active{
    border-color: #48a6fb;
    background: rgba(74,172,255, 0.5);
}

.tab-active::after{
    background-position: -41px -491px;
}

.tab-active::before{
    background-position: -41px -452px;
}

/* 左上角信息 */
.scene-box{
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 101;
    font-size: 14px;
}

.ship-scene li{
    margin-top: 15px;
    color: #fff;
}

.ship-scene .ship-label{
    width: 42px;
    text-align-last: justify;
}

.ship-scene .ship-value{
    font-weight: normal;
}

 /*右上角*/
.color-box{
    position: absolute;
    right: 20px;
    top: 220px;
    z-index: 101;
    width: 60px;
    color: #fff;
}

/*.color-box::before{*/
    /*content: '0';*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 26px;*/
    /*top: -10px;*/
/*}*/

.color-box li{
    height: 30px;
}

.color-box .color-block{
    display: inline-block;
    width: 20px;
    height: 100%;
    margin-right: 6px;
    vertical-align: top;
}

/* 右下角按钮 */
.menu-box{
    position: absolute;
    right: -20px;
    bottom: -22px;
    z-index: 101;
    width: 89px;
    height: 80px;
    transition: all 0.5s ease-in-out;
}

.menu-btn {
    vertical-align: top;
    position: absolute;
    right: 17px;
    bottom: 20px;
    width: 32px;
    height: 33px;
    transition: all 0.5s ease-in-out;
    background: url("../img/inner.png") 0 0/contain no-repeat;
    z-index: 1000;
}

.menu-box .menu-light{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    background:  url("../img/outer.png") 13px 0/contain no-repeat;
    animation: starFilck 2s ease-in-out infinite;
    -webkit-animation: starFilck 2s ease-in-out infinite;
    -moz-animation: starFilck 2s ease-in-out infinite;
    -ms-animation: starFilck 2s ease-in-out infinite;
}

/*.menu-box:hover{*/
/*width: 178px;*/
/*height: 160px;*/
/*}*/

/*.menu-box:hover .menu-light{*/
/*background-position: 45px 22px;*/
/*}*/

/*.menu-box:hover .menu-btn{*/
/*width: 64px;*/
/*height: 66px;*/
/*}*/

@keyframes starFilck {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

.change-btns{
    position: absolute;
    right: 30px;
    bottom: 80px;
    z-index: 101;
}

.btn-item{
    width: 63px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    margin-top: 40px;
    padding: 10px 0 0;
    position: relative;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-item::before{
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    top: -32px;
    width: 63px;
    height: 32px;
    background: url('../img/button.png') 0 -120px  no-repeat;
}

.btn-item::after{
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    bottom: -31px;
    width: 63px;
    height: 31px;
    background: url('../img/button.png') 0 -40px no-repeat;
}

.btn-no-active:hover{
    border-left: 1px solid #fff;
    background: rgba(255, 255, 255, 0.15);
    border-right: 1px solid #fff;
}

.btn-no-active:hover::before{
    background-position: -63px -120px;
}

.btn-no-active:hover::after{
    background-position: -63px -40px;
}

.btn-active{
    border-left: 1px solid #48a6fb;
    background: rgba(74,172,255, 0.5);
    border-right: 1px solid #48a6fb;
}

.btn-active::before{
    background-position: -126px -120px;
}

.btn-active::after{
    background-position: -126px -40px;
}

.btn-text{
    width: 20px;
    margin: auto;
    text-align: center;
}

/* 导航下拉框 */
.select-dialog,
.select-time,
#selectYear .time-range{
    position: absolute;
    left: calc(50% - 100px);
    top: 38px;
    z-index: 1000;
    width: 200px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background: linear-gradient(-135deg, transparent 5%, rgba(39,77,125,0.8) 5%,   rgba(39,77,125,0.8) 95%, transparent  95%);
}

.nav-more .select-dialog{
    width: 190px;
}

.child-dialog,
.children-dialog{
    left: 105%;
    top: 0;
}

.select-dialog .tri-top{
    right: 90px;
}

.child-dialog .tri-left{
    right: 100%;
    top: 0;
}

.search-input{
    padding-left: 10px;
    padding-right: 30px;
    height: 30px;
    max-width: 160px;
    border: 1px solid #fff;
    position: relative;
    margin-bottom: 15px;
}

.search-input input{
    background: transparent;
    height: 100%;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 12px;
}

.search-input .search-icon{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url('../img/button.png') 0 -352px no-repeat;
}

.search-input .search-icon:hover{
    background-position: -20px -352px;
}

.search-input .search-icon:focus{
    background-position: -40px -352px;
}

.search-list{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 160px;
}

.search-list li{
    padding: 5px;
    margin-top: 3px;
    font-size: 14px;
    color: #fff;
}

.search-list li.more-nav-active{
    color: #61b1fe;
    font-size: 16px;
}

.search-list li:hover{
    background: #274d7d;
}

.search-list li:last-child{
    margin-bottom: 0;
}
/* 详情弹框 */
.dialog-msk{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
}
.detail-dialog{
    display: none;
    max-width: 1200px;
    width: 80%;
    min-width: 1000px;
    position: fixed;
    left: 0;
    top: 0;
    max-height: 680px;
    margin: auto;
    z-index: 10001;
    background: #001c42;
    border: 1px solid rgba(77,148,255,0.5);
    border-radius: 15px;
    transition: left,top 0.5s ease-in-out;
}

.dialog-header{
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: relative;
}
/* 操作 */
.dialog-handle{
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.dialog-handle button{
    width: 30px;
    height: 30px;
    position: relative;
    box-sizing: border-box;
    margin-right: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../img/button.png');
}

.dialog-search{
    background-position: 0 -242px;
}

.dialog-save{
    background-position: 0 -202px;
}

.dialog-close{
    background-position: 0 0;
}


.dialog-search:hover{
    background-position: -30px -242px;
}

.dialog-save:hover{
    background-position: -30px -202px;
}

.dialog-close:hover{
    background-position: -30px 0;
}


.dialog-search:focus{
    background-position: -60px -242px;
}

.dialog-save:focus{
    background-position: -60px -202px;
}

.dialog-close:focus{
    background-position: -60px 0;
}

.dialog-body{
    padding: 30px;
    background: url('../img/dialogBg.png') 0 0  repeat;
}
/* 筛选 */
.dialog-search-box {
    margin-bottom: 30px;
    padding-right: 50px;
}

.select-box{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}

/* .select-box label {
    margin-right: 6px;
} */

/* .select-box select,
.select-box .select-date{
    background: #001635;
    width: 160px;
    height: 30px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    margin-right: 30px;
    padding: 0 14px 0 6px;
    border: 1px solid rgba(255,255,255,0.4);
} */

/*.select-box select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select-box select::-ms-expand{
    display: none;
}

.select-box input::-webkit-inner-spin-button{
    display: none;
} */

.select-box select option{
    /* background: #001635; */
    /* border: 1px solid rgba(255,255,255,0.4); */
    /* background: rgba(39,77,125,0.8); */
}

/* .select-box select option:hover{
    background: rgba(117,175,255,0.5);
} */

.dialog-search-btn{
    width: 113px;
    height: 30px;
    background: url('../img/button.png') 0 -162px no-repeat;
}

/*.dialog-search-btn:hover{*/
    /*background-position: -60px -242px;*/
/*}*/

/*.dialog-search-btn:focus{*/
    /*background-position: -60px -242px;*/
/*}*/

.dialog-table{
    height: 490px;
    width: 100%;
    padding-right: 360px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    /* border: 1px solid rgba(255,255,255,0.1); */
    background: #001635;
    box-sizing: border-box;
    position: relative;
}

.dialog-table .table-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.detail-msg{
    width: 360px;
    height: 100%;
    margin-right: -360px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: rgba(255,255,255,0.1);
    box-sizing: border-box;
}

/* .dialog-table thead, */
.detail-msg .msg-header{
    background: rgba(74,135,188,0.5);
    height: 40px;
    line-height: 40px;
}

/* .dialog-table td,
.dialog-table th{
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: lighter;
}

.dialog-table td{
    color: rgba(255, 255, 255, 0.8);
}

.dialog-table th{
    font-weight: normal;
    font-size: 14px;
}

.dialog-table tbody tr:nth-child(even){
    background: rgb(0,41,98,0.2);
} */

.msg-content{
    padding: 15px;
    height: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.detail-msg-list li{
    width: 50%;
    float: left;
    font-size: 12px;
    margin-bottom: 20px;
    position: relative;
}

.detail-msg-list i{
    display: none;
    cursor: pointer;
}

.detail-msg-list li:hover i{
    display: inline-block;
}

.detail-msg-list .work-all{
    position: absolute;
    left: 50px;
    top: 0;
    padding: 5px 10px;
    display: none;
    background: #1e4273;
    border: 1px solid #1e4273;
    color: #fff;
}

.detail-msg-list .work-all i{
    position: absolute;
    right: -6px;
    top: -6px;
}

.msg-content .detail-label{
    width: 80px;
    vertical-align: top;
    text-align: right;
    color: #808b9a;
    margin-right: 5px;
    line-height: 1.5;
}

.detail-value{
    color: #fff;
    text-align: left;
    line-height: 1.5;
    position: relative;
}
.detail-item{
    width: 100%;
    font-size: 12px;
    margin-bottom: 30px;
}

/* tab导航页 */
.tab-plane{
    padding-top: 50px;
    box-sizing: border-box;
}

.plane-content{
    height: 100%;
    padding: 10px;
    position: relative;
    /*transition: all 0.5s ease-in-out;*/
    box-sizing: border-box;
}

.plane-select-box{
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.plane-footer{
    height: 100%;
    position: relative;
    margin: 0 -1.1%;
    transition: all 0.5s ease-in-out;
}

.plane-select-handle{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #1e4273;
    z-index: 1000;
}
/* pie */
.plane-pie-left,
.plane-pie-right{
    width: 25%;
    height: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    position: relative;
}

.half-label{
    height: 50%;
    position: relative;
    overflow: hidden;
}

.label-wrapper{
    height: 100%;
    padding-top: 56px;
    margin-top: -22px;
    overflow-x: hidden;
    overflow-y: auto;
    /*text-align: center;*/
}

/*.plane-pie-center{*/
/*width: 50%;*/
/*height: 100%;*/
/*}*/

.plane-pie-center{
    width: 100%;
    height: 100%;
}

.label-title{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 25px 5px;
    width: 100%;
    box-sizing: border-box;
    background: #001635;
    color: #fff;
    font-size: 14px;
    z-index: 10;
}
.plane-pie-right .label-wrapper{
    margin-top: 0;
    padding-top: 34px;
    box-sizing: border-box;
}

.plane-pie-right .label-title{
    padding-top: 40px;
}

.label-li{
    float: left;
    width: 50%;
    margin: 15px 0 5px;
    padding: 8px 25px 0;
    font-size: 12px;
    color: rgba(255,255,255, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.label-li::before{
    content: '';
    display: block;
    position: absolute;
    left: 25px;
    top: 0;
    width: 16px;
    height: 4px;
    background: #fff;
}

.plane-select{
    width: 31.1%;
    height: 100%;
    float: left;
    margin: 0 1.1%;
    box-sizing: border-box;
    position: relative;
}

.plane-line-top,
.plane-line-left,
.plane-line-right{
    position: absolute;
    top: 0;
}

.plane-line-top{
    left: 0;
    width: 100%;
    height: 1px;
    background-image: url('../img/line_fill.png');
    background-repeat: repeat-x;
}

.plane-line-right,
.plane-line-left{
    height: 100%;
    width: 1px;
    background-image: url('../img/v_line.png');
    background-repeat: repeat-y;
}

.plane-line-right{
    right: 0;
}
.plane-line-left{
    left: 0;
}

.plane-select-header{
    height: 40px;
    line-height: 40px;
    position: relative;
    font-size: 0;
}

.plane-select-header::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: url('../img/line.png') repeat-x;
}

.plane-select-label{
    width: 50%;
    color: #fff;
}

.plane-title{
    margin-right: 6px;
    padding-left: 16%;
}

.plane-title,
.select-all{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
}

.plane-filter{
    font-size: 14px;
    padding: 5px 6px 5px 50%;
    position: relative;
}

.plane-filter input{
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
}

.filter-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url('../img/button.png') 0 -352px no-repeat;
}

.plane-select-list{
    margin: 6px;
    box-sizing: border-box;
    height: 220px;
    font-size: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.plane-select-list li{
    display: inline-block;
    width: 32%;
    padding: 0 23px;
    font-size: 14px;
    margin: 10px 0;
    box-sizing: border-box;
}
/*bar*/
.one-chart .plane-bar-item{
    width: 100%;
    height: 100%;
}

.two-chart .plane-bar-item{
    width: 100%;
    height: 50%;
}

.three-chart .plane-bar-item,
.four-chart .plane-bar-item{
    width: 50%;
    height: 50%;
}

.three-chart .plane-bar-item:nth-child(3){
    width: 100%;
}

#barPlane .plane-footer,
#customPlane .plane-footer{
    margin: 0;
}

.plane-bar-wrapper{
    padding: 40px 80px;
    width: 100%;
    height: 220px;
    box-sizing: border-box;
}

#barPlane .plane-select-list{
    height: 100%;
}

#barPlane .layui-form-item{
    width: 20%;
}
#barPlane .analy-btn{
    margin: 5px 10px;
}
.analy-btn{
    height: 30px;
    padding: 0 14px 0 44px;
    font-size: 14px;
    line-height: 30px;
    background: #1e4273;
    border-radius: 2px;
    color: #fff;
    position: relative;
    z-index: 1000;
    cursor: pointer;
}

.analy-btn::before{
    content: '';
    display: block;
    position: absolute;
    left: 14px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url('../img/analy.png') center/contain no-repeat;
}

.return-btn::before{
    background-image: url('../img/return.png');
}
/* custome */
.custome-table,
.custome-chart{
    height: 100%;
    position: relative;
}

.custome-table{
    box-sizing: border-box;
    /*padding:0 10px;*/
}

#customPlane .search-filter{
    position: absolute;
    right: 30px;
    top: -45px;
    margin: 5px 10px;
}

.search-filter-box {
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
    height: 30px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.4);
}

.search-filter-box input,
.search-filter-box button{
    display: inline-block;
    vertical-align: top;
}

.search-filter-box #filterKey{
    padding: 0 30px 0 35px;
    margin: 0 -30px;
    border: none;
    background: #001635;
    height: 100%;
    color: #fff;
}
.search-filter-box button{
    width: 30px;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;

    position: relative;
}

.search-filter-box button::before{
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url("../img/button.png");
    background-repeat: no-repeat;
}

#filterType{
    float: left;
    border-right: 1px solid rgba(255,255,255,0.4);
}

.search-filter-box #filterType::before{
    background-position: 0 -386px ;
}

#searchData{
    float: right;
}

.search-filter-box #searchData::before{
    background-position: 0 -352px ;
}

.filter-type-wrapper{
    position: relative;
    left: -1px;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #001635;
    border: 1px solid rgba(255,255,255,0.4);
}

.filter-header{
    height: 30px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    line-height: 30px;
    color: #fff;
}

.filter-type-list{
    margin: 10px;
    height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}

.filter-type-list li{
    width: 100%;
    margin: 12px 0;
}

.filter-header button {
    color: #fff;
}

.filter-type-num{
    color: rgba(255,255,255,0.3);
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.filter-header button::before{
    display: none;
}

.custome-chart-wrapper,
.plane-custom-wrapper,
.plane-cuatom-item{
    width: 100%;
    height: 100%;
}

.plane-custom-remind{
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    z-index: 10000;
}


.plane-custom-remind #delBlock{
    position: absolute;
    right: -30px;
    top: -2px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    color: red;
    font-style: normal;
    display: block;
    cursor: pointer;
}

.select-custom-type{
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 10px 0 30px;
    box-sizing: border-box;
    color: #fff;
    height: 100%;
}

.custome-chart-box{
    padding: 20px 60px 20px 0;
    width: 240px;
    box-sizing: border-box;
    position: relative;
}

#selectAllType{
    color: #fff;
    border-radius: 3px;
    height: 30px;
    width: 50px;
    background: #1e4273;
    cursor: pointer;
    margin-right: 10px;
}

.select-custom-item{
    height: 50%;
}

.select-custom-header{
    padding-left: 120px;
    position: relative;
    margin-bottom: 5px;
}

.select-custom-label{
    position: absolute;
    left: 0;
    top: 0;
    line-height: 30px;
}

.select-custom-check{
    float: left;
    line-height: 1;
    padding-top: 5px;
}

.select-custom-body{
    height: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0;
    box-sizing: border-box;
}

.select-custom-body span{
    float: left;
    margin: 0 6px;
    line-height: 20px;
}


    /*.select-custom-type dt{*/
    /*font-size: 14px;*/
    /*height: 10%;*/
    /*border-left: 2px solid #1e4273;*/
    /*padding-left: 6px;*/
    /*box-sizing: border-box;*/
    /*margin: 5% 0;*/
    /*!*line-height: 1.5;*!*/
/*}*/

/*.select-custom-type dd{*/
    /*font-size: 12px;*/
    /*line-height: 1.2;*/
    /*height: 30%;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
/*}*/
/*.select-custom-type span{*/
    /*margin: 0 6px;*/
    /*!*float: left;*!*/
/*}*/

.plane-custom-wrapper{
    padding: 70px 60px 20px 320px;
    box-sizing: border-box;
}

.select-remind-text{
    position: absolute;
    left: 320px;
    top: 20px;
    color: #fff;
    font-size: 12px;
}

.select-remind-text em{
    font-size: 14px;
    color: #48a6fb;
}

#customPlane .plane-select-list{
    height: 100%;
}

.plane-select-list .layui-form-item{
    width: 25%;
}
/*时间选择*/
.select-time{
    position: absolute;
    left: 420px;
    top: 200px;
    width: 160px;
    /*height: 160px;*/
    z-index: 1000;
    color: #fff;
}

.select-type{
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    line-height: 18px;
    font-size: 14px;
}

.select-type li{
    padding: 6px 10px;
    cursor: pointer;
    position: relative;
}

.select-type li:hover,
.time-item:hover{
    background: #274d7d;
}

.select-type span{
    float: right;
}

#selectYear .time-range{
    position: absolute;
    left: 125%;
    top: 0;
    width: 100%;
    /*height: 100%;*/
}

#selectYear .time-range input{
    background: transparent;
    font-size: 0;
    color: transparent;
    border: none;
}

.time-item{
    padding: 5px;
    line-height: 16px;
    font-size: 12px;
}

#drawSimpleChart{
    margin-top: 20px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
#addCustomType{
    position: absolute;
    right: 120px;
    top: 20px;
    padding: 0 10px;
    background: #1e4273;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.confirm-checkBox{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px 3px 0 0;
    padding: 5px 10px;
    border-radius: 3px;
}